node_modules
dist
.husky
.vscode
pnpm-lock.yaml
package-lock.json
yarn.lock
*.log
.DS_Store
build
coverage
.env
.env.local
.env.*.local
.idea
Dockerfile
Dockerfile.*
docker-compose.yml
docker-compose.*.yml